:root {
    --background-color: #f5f5f5;
    --text-color: #333;
    --button-color: #f5f5f5;
    --button-text-color: #333;
    --button-hover-color: #333;
    --button-hover-text-color: #f5f5f5;
}

[data-theme="dark"] {
    --background-color: green;
    --text-color: #f5f5f5;
    --button-color: #333;
    --button-text-color: #f5f5f5;
    --button-hover-color: #f5f5f5;
    --button-hover-text-color: #333;
}

.container {
    background-color: var(--background-color);
    color: var(--text-color);

}